custom-database-example/.vs/
custom-database-example/bin/
custom-database-example/obj/
custom-messaging-example/bin/
custom-messaging-example/obj/
annotate-autotrace-spans/.vs/
annotate-autotrace-spans/bin/
annotate-autotrace-spans/obj/
annotate-autotrace-spans/out/
console-example/obj/
.vs/
intermediate-spans/.ionide/
intermediate-spans/bin/
intermediate-spans/obj/
intermediate-spans/out/
annotate-autotrace-spans/.ionide/
console-example/bin/
console-example/out/
custom-database-example/out/custom-database-example.deps.json
custom-database-example/out/
.ionide/
